* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #333;
}

section {
    scroll-margin-top: 80px;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #7b1e1e;
    z-index: 1000;
}

.nav-container {
    max-width: 1100px;
    margin: auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 100vh;
    background: linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)
), url("assets/KEGIATAN1.jpg");


    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
    padding-top: 60px;
}


.hero h1 {
    font-size: 48px;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}

.hero button {
    background: #7b1e1e;
    color: white;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
}

.section {
    padding: 90px 0;
}

.section h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #7b1e1e;
}

.gray {
    background: #f4f4f4;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    background: white;
    width: 260px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: center;
}

.card img {
    width: 100%;
}

.card h3 {
    padding: 15px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
}

.gallery img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background: #7b1e1e;
    color: white;
    text-align: center;
    padding: 20px;
}
